[GLS_Clarity4]
name=GLS_Clarity4
baseurl=http://rpm.genologics.com/repos/Clarity4
gpgcheck=0
enabled=0
metadata_expire=60
proxy={{ snpseq_http_proxy }}:{{ snpseq_http_proxy_port }}
username={{ lims_rpm_username }}
password={{ lims_rpm_password_clarity4 }}

[GLS_Clarity_HiSeq]
name=GLS_Clarity_HiSeq
baseurl=http://rpm.genologics.com/repos/Clarity_HiSeq
gpgcheck=0
enabled=0
metadata_expire=60
proxy={{ snpseq_http_proxy }}:{{ snpseq_http_proxy_port }}
username={{ lims_rpm_username }}
password={{ lims_rpm_password_clarity_hiseq }}

[GLS_Clarity_HiSeqXFile]
name=GLS_Clarity_HiSeqXFile
baseurl=http://rpm.genologics.com/repos/Clarity_HiSeqXFile
gpgcheck=0
enabled=0
metadata_expire=60
proxy={{ snpseq_http_proxy }}:{{ snpseq_http_proxy_port }}
username={{ lims_rpm_username }}
password={{ lims_rpm_password_clarity_hiseqxfile }}

[GLS_Clarity_MiSeq]
name=GLS_Clarity_MiSeq
baseurl=http://rpm.genologics.com/repos/Clarity_MiSeq
gpgcheck=0
enabled=0
metadata_expire=60
proxy={{ snpseq_http_proxy }}:{{ snpseq_http_proxy_port }}
username={{ lims_rpm_username }}
password={{ lims_rpm_password_clarity_miseq }}

[GLS_ClarityLIMS_Integrations]
name=GLS_ClarityLIMS_Integrations
baseurl=http://rpm.genologics.com/repos/ClarityLIMS_Integrations
gpgcheck=0
enabled=0
metadata_expire=60
proxy={{ snpseq_http_proxy }}:{{ snpseq_http_proxy_port }}
username={{ lims_rpm_username }}
password={{ lims_rpm_password_claritylims_integrations }}
