java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.eventFileDirectory.1 '/mnt/gls_events' 'A network location monitored for event files; e.g. /mnt/illumina/gls_events/'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.eventFileDirectory.99 '/opt/gls/clarity/smoketests/miseq/monitored' 'Smoke test location monitored for event files. This is for the installation and upgrade smoke tests'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.eventFileDirectorySuffixes '99' 'A list of eventFileDirectory paths monitored for event files. The value is one or more comma separated integers.'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.ignoreUnmatchedContainerIds 'false' 'A flag indicating if event files containing unmatched flow cell ids in GLS LIMS should be ignored.'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.ignoreUnmatchedContainerIdsWaitDays '14' 'The elapsed days after the event has been created before the event file is ignored.'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.1 '/mnt/run_data' 'The mapped network directory mount name on the server used to access the process run network directory. Eg. /mnt/network/data'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.10 '/mnt/run_data10' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.2 '/mnt/run_data2' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.3 '/mnt/run_data3' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.4 '/mnt/run_data4' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.5 '/mnt/run_data5' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.6 '/mnt/run_data6' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.7 '/mnt/run_data7' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.8 '/mnt/run_data8' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.9 '/mnt/run_data9' 'The mapped network directory mount name on the server used to access the process run folders'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixReplace.99 '/' 'Default benign smoke test replace'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.1 '\\nas\network\run_data' 'The network directory prefix contained in the event which is most likely in Windows format. Eg. \\nas\network\run_data'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.10 '\\nas\network\run_data10' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.2 '\\nas\network\run_data2' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.3 '\\nas\network\run_data3' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.4 '\\nas\network\run_data4' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.5 '\\nas\network\run_data5' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.6 '\\nas\network\run_data6' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.7 '\\nas\network\run_data7' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.8 '\\nas\network\run_data8' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.9 '\\nas\network\run_data9' 'The network directory prefix contained in the event which is most likely in Windows format'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearch.99 '/' 'Default benign smoke test search'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.netPathPrefixSearchReplaceSuffixes '99' 'A list of prefix search and replacement strings for transforming Windows to Linux network paths. The value is one or more comma separated integers.'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.runReportViewsVersion '0' 'The current version of the Run Report views in the database.  The value 0 represents the state before the views are created. This property is automatically updated by the run report.'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.sequenceProcessBaseName 'MiSeq Run (MiSeq)' 'Sequencing process type base display name for partial term matching.'
java -jar omxprops-ConfigTool.jar addPropertyType -y -f {{ lims_app_hostname }} -g miseq.seqservice.synchronizationPeriod '60' 'Invocation period in seconds.'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.eventFileDirectory.1 '/mnt/clarity/gls_events_miseq'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.eventFileDirectory.99 '/opt/gls/clarity/smoketests/miseq/monitored'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.eventFileDirectorySuffixes '1'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.ignoreUnmatchedContainerIds 'false'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.ignoreUnmatchedContainerIdsWaitDays '14'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.1 '/mnt/sequencing/biotank5/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.10 '/mnt/sequencing/biotank14/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.2 '/mnt/sequencing/biotank6/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.3 '/mnt/sequencing/biotank7/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.4 '/mnt/sequencing/biotank8/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.5 '/mnt/sequencing/biotank9/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.6 '/mnt/sequencing/biotank10/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.7 '/mnt/sequencing/biotank11/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.8 '/mnt/sequencing/biotank12/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.9 '/mnt/sequencing/biotank13/runfolders/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixReplace.99 '/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.1 'K:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.10 'V:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.2 'L:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.3 'M:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.4 'N:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.5 'P:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.6 'Q:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.7 'R:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.8 'T:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.9 'U:\runfolders\'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearch.99 '/'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.netPathPrefixSearchReplaceSuffixes '1,2,3,4,5,6,7,8,9,10'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.runReportViewsVersion '0'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.sequenceProcessBaseName 'MiSeq Run (MiSeq)'
java -jar omxprops-ConfigTool.jar set -y -f {{ lims_app_hostname }}  miseq.seqservice.synchronizationPeriod '60'

